#floor-plan-wrapper,
.fp-room-wrapper {
	width: 100%;
	display: inline-block;
	position: relative;
}

#floor-plan-wrapper:after,
.fp-room-wrapper:after {
	display: block;
	content: '';
}

#floor-plan-wrapper:after {
	/* 16:9 ratio box */
	padding-top: 56.25%;
}

.fp-room-wrapper:after {
	/* square box */
	padding-top: 100%;
}

#floor-plan,
.fp-room {
	position: absolute;
	top: 0;
	bottom: 0;
	right: 0;
	left: 0;
}

.fp-room,
.fp-sub-room {
	border-color: #EA2427 !important;
	border-width: 1px !important;
}

.fp-sub-room,
.fp-room-position {
	position: absolute;
}


/*ROOM DESIGN*/

#fp-room-storage {
	height: 100%;
	width: 95%;
	border: solid;
}

#fp-room-toilet {
	height: 100%;
	width: 83%;
	border: solid;
}

#fp-room-1 {
	height: 100%;
	width: 86%;
	border: solid;
}

#fp-room-2 {
	height: 100%;
	width: 90%;
	border: solid;
}

#fp-room-3 {
	height: 100%;
	width: 76%;
	border: solid;
}

#fp-room-4 {
	height: 60%;
	width: 100%;
	border-right: solid;
	border-top: solid;
}

#fp-room-4-sub-1 {
	height: 72%;
	width: 83%;
	border-bottom: solid;
	border-left: solid;
}

#fp-room-4-sub-2 {
	top: 72%;
	left: 82.6%;
	height: 28%;
	width: 17.5%;
	border-bottom: solid;
	border-left: solid;
}

#fp-room-5 {
	height: 100%;
	width: 62%;
	border-left: solid;
	border-top: solid;
}

#fp-room-5-sub-1 {
	left: 71%;
	height: 81.6%;
	width: 29%;
	border-bottom: solid;
	border-right: solid;
}

#fp-room-5-sub-2 {
	top: 81.5%;
	height: 18.3%;
	width: 71%;
	border-bottom: solid;
	border-right: solid;
}

#fp-room-6 {
	height: 86%;
	width: 100%;
	border: solid;
}

#fp-room-7 {
	height: 87.5%;
	width: 100%;
	border: solid;
}

#fp-room-8 {
	height: 100%;
	width: 69%;
	border: solid;
}

#fp-room-9 {
	height: 100%;
	width: 99.5%;
	border: solid;
}

#fp-room-10 {
	height: 100%;
	width: 99.5%;
	border: solid;
}

#fp-wall-1 {
	height: 100%;
	width: 100%;
	border-bottom: solid;
}

#fp-wall-2 {
	height: 100%;
	width: 100%;
	border-bottom: solid;
}

#fp-wall-3 {
	height: 100%;
	width: 100%;
	border-right: solid;
}

#fp-wall-4 {
	height: 100%;
	width: 12%;
	border-top: solid;
	border-right: solid;
}
/*ROOM POSITION IN FLOOR PLAN*/

#fp-room-storage-position {
	left: 79.7%;
	width: 14%;
}

#fp-room-toilet-position {
	left: 66.4%;
	width: 14%;
}

#fp-room-1-position {
	left: 52.8%;
	width: 14%;
}

#fp-room-2-position {
	left: 38.3%;
	width: 14%;
}

#fp-room-3-position {
	left: 25.6%;
	width: 14.1%;
}

#fp-room-4-position {
	width: 23.5%;
}

#fp-room-5-position {
	top: 21.9%;
	width: 27.8%;
}

#fp-room-6-position {
	top: 73.5%;
	width: 17.3%;
}

#fp-room-7-position {
	top: 73.5%;
	left: 19.3%;
	width: 17%;
}

#fp-room-8-position {
	top: 73.5%;
	left: 38.1%;
	width: 14.8%;
}

#fp-room-9-position {
	top: 35.4%;
	left: 19.3%;
	width: 15.1%;
}

#fp-room-10-position {
	top: 35.4%;
	left: 36.2%;
	width: 15.1%;
}

#fp-wall-1-position {
	top: 45.8%;
	left: 52.8%;
	width: 30.4%;
}

#fp-wall-2-position {
	top: 63.5%;
	left: 76.4%;
	width: 17%;
	-ms-transform: rotate(-37deg); /* IE 9 */
    -webkit-transform: rotate(-37deg); /* Safari */
    transform: rotate(-37deg);
}

#fp-wall-3-position {
	top: 55%;
	left: 81.5%;
	width: 15.1%;
}

#fp-wall-4-position {
	top: 7%;
	left: 95%;
	width: 13.1%;
}