#floor-plan-wrapper,
.fp-room-wrapper {
	width: 100%;
	display: inline-block;
	position: relative;
}

#floor-plan-wrapper:after,
.fp-room-wrapper:after {
	display: block;
	content: '';
}

#floor-plan-wrapper:after {
	/* 16:9 ratio box */
	padding-top: 56.25%;
}

.fp-room-wrapper:after {
	/* square box */
	padding-top: 100%;
}

#floor-plan {
	position: absolute;
	top: 0;
	bottom: 0;
	right: 0;
	left: 0;
}

.fp-room-position {
	position: absolute;
}

.floor-plan-overlay {
	position: absolute;
	width: 100%;
	height: 100%; 
}

.floor-plan-overlay h4 {
	position: absolute;
}

/* ==========================================================================
   Room position in floor plan --- Now done with SVG path
   ========================================================================== */

/*#fp-room-storage-position {
	left: 79.7%;
	width: 13.2%;
}

#fp-room-toilet-position {
	left: 66.4%;
	width: 11.6%;
}

#fp-room-1-position {
	left: 52.8%;
	width: 12%;
}

#fp-room-2-position {
	left: 38.3%;
	width: 12.5%;
}

#fp-room-3-position {
	left: 25.6%;
	width: 10.7%;
}

#fp-room-4-position {
	width: 23.5%;
}

#fp-room-5-position {
	top: 21.9%;
	width: 17.4%;
}

#fp-room-6-position {
	top: 73.5%;
	width: 17.3%;
}

#fp-room-7-position {
	top: 72.8%;
	left: 19.3%;
	width: 17%;
}

#fp-room-8-position {
	top: 72.7%;
	left: 38.1%;
	width: 10.3%;
}

#fp-room-9-position {
	top: 35.4%;
	left: 19.3%;
	width: 15.1%;
}

#fp-room-10-position {
	top: 35.4%;
	left: 36.2%;
	width: 15.1%;
}

#fp-wall-1-position {
	top: 54.5%;
	left: 52.1%;
	width: 44.5%;
}

#fp-wall-2-position {
	top: 7%;
	left: 95%;
	width: 1.55%;
}*/