/*==========  GLOBAL  ==========*/

@font-face {
    font-family: Fugue;
    src: url(/fonts/Fugue-Regular.otf);
}

html {
/*	So that the footer can be sticky: All the way down on little content, below content when alot content;*/
	min-height: 100%;
	position: relative;
}

h1, h2, h3, h4, h5, p, a, input {
	font-family: Fugue;
}

a {
	color: inherit;
}

a:hover {
	cursor: pointer;
}

input:-webkit-autofill {
    -webkit-box-shadow: 0 0 0px 1000px white inset;
}

input {
	width: 100%;
	border: 1px solid rgb(38, 84, 249);
	border-radius: 0px;
	-webkit-appearance: none;
	padding: 3px 0px;
	text-align: center;
}

#home-container a,
#home-container h1,
#home-container h4,
#home-container p,
#mobile-menu-content a,
#mobile-menu-content h1,
.login-layout h1,
.login-layout h4,
.login-layout h5,
#custom-nav h4,
.glyphicon,
a:hover,
.customer-row:hover,
#desktop-nav h4,
.overlay-letter h4 {
	color: rgb(38, 84, 249);
}

.desktop {
	display: none;
}

.full-width {
	min-width: 100%;
}

.red-border {
	border: 1px solid #EA2427;
	padding: 1px 6px;
}

.search-bar {
	padding: 10px 5px;
	border: none;
}

.hover:hover {
	cursor: pointer;
	text-decoration: underline;
}

.spacer-50 {
	height: 50px;
}

.spacer-30 {
	height: 30px;
}

.spacer-10 {
	height: 10px;
}

.shadow {
	/*box-shadow: rgba(0, 0, 0, 0.2) 0px 2px 4px 0px;*/
	box-shadow: rgba(0, 0, 0, 0.2) 0px 1px 2px 0px;
}

.shadow-top {
	box-shadow: rgba(0, 0, 0, 0.2) 0px -2px 4px 0px;
}

.shadow-right {
	box-shadow: rgba(0, 0, 0, 0.2) 5px 0px 4px -4px;
}

.shadow-bottom {
	box-shadow: rgba(0, 0, 0, 0.2) 5px 0px 4px -4px;
}

.shadow-left {
	box-shadow: rgba(0, 0, 0, 0.2) -4px 0px 4px -3px;
}

.shadow-bottom-right {
	box-shadow: rgba(0, 0, 0, 0.2) 3px 3px 4px -1px;
}

.shadow-bottom-left {
	box-shadow: rgba(0, 0, 0, 0.2) -2px 2px 4px -1px;
}

.progress {
	position: fixed;
	width: 100%;
	top: 0;
	left: 0;
	height: 4px;
	background-color: rgba(38, 84, 249, 0.4);
}

.progress-bar-success {
	background-color: rgba(38, 84, 249, 1);
}

/*==========  GLOBAL END ==========*/

/*==========  LOGIN LAYOUT  ==========*/

.login-layout {
	margin-top: 90px;
	margin-bottom: 50px;
}

.login-layout h1 {
/*	text-decoration: underline;*/
	margin-bottom: 40px;
}

.login-layout h4 {
	margin-bottom: 10px;
}
.login-layout input {
	margin-bottom: 5px;
}

.login-layout input {
	border: 1px solid #EA2427;
	text-align: center;
}

/*==========  LOGIN LAYOUT END ==========*/

/*==========  FRONT LAYOUT  ==========*/

#desktop-content {
	max-width: 700px;
	margin: 0 auto;
}

#grey-background {
	position: absolute;
	z-index: -1;
	width: 100%;
	height: 760px;
	top: 1856px;
	left: 0px;
	background-color: #E6E6E6;
}

#desktop-nav-container h4 {
	display: inline-block;
	margin: 0 10px;
}

/*==========  FRONT LAYOUT END ==========*/

/*==========  SECURE LAYOUT  ==========*/

.user-list img,
.user-single img,
.user-profile img {
	max-width: 100px;
}

.user-list .user-status p,
.customer-list .customer-status p {
	display: inline;
	margin-right: 10px;
	background-color: rgb(38, 84, 249);
	color: white;
	padding: 2px 5px;
}

/*.user-list .led-green {
	margin-left: 10px;
	margin-top: -5px;
	width: 12px;
	height: 12px;
	background-color: #ABFF00;
	border-radius: 50%;
}*/

.search-counter {
	display: inline-block;
	padding: 2px 10px 2px 10px;
	margin-top: 7px;
	color: white;
	background-color: rgb(38, 84, 249);
}

.add-room-button {
	margin-top: 7px;
}

.room-selector {
	text-align: center;
	display: inline-block;
	padding: 10px;
	color: white;
	background-color: rgb(38, 84, 249);
	opacity: 0.3;
}

.room-selector-active {
	opacity: 1;
}

.delete-large {
	background-color: #EA2427;
	text-align: center;
	color: white;
	text-transform: uppercase;
	padding: 20px 0px;
}

.button-large {
	background-color: rgb(38, 84, 249);
	text-align: center;
	color: white;
	text-transform: uppercase;
	padding: 20px 0px;
}

.customer-row .glyphicon,
.customer-single .glyphicon {
	padding: 13px;
}

/*==========  SECURE LAYOUT END ==========*/


#custom-nav,
#desktop-nav {
	padding: 20px;
	z-index: 3;
}

#desktop-nav {
	margin-top: 80px;
	position: fixed;
	top: 0;
	width: 100%;
}

#custom-nav .nav-lock {
	margin-top: 6px;
}

#navToContentBuffer {
	height: 73px;
}

#mobile-menu-content {
	z-index: 2;
	background-color: #F7F7F7;
}

#mobile-menu-content hr {
	margin-top: 10px;
	margin-bottom: 10px;
	border-top: 1px solid #EA2427;
}

#custom-burger-menu img {
	width: 48px;
	height: 8px;
	display: block;
	margin-bottom: 3px;
}

#mobile-menu-content h1 {
	font-size: 2em;
	text-decoration: underline;
	display: inline;
}

#mobile-menu-content .container,
#home .container {
	padding-top: 35px;
	padding-left: 20px;
}

#home .container svg {
	/*Some svgs were croped*/
	padding: 0 1px 0 1px;
}

#home {
	margin-top: 120px;
}

#custom-nav,
#mobile-menu-content {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
}

#custom-nav img,
#mobile-menu img {
	max-height: 30px;
	max-width: 100%;
}

#book-room-fixed {
	background-color: black;
	color: white;
	padding: 20px;
	position: fixed;
	bottom: 0;
	left: 0;
	width: 100%;
	z-index: 2;
}

#book-room-button {
	border: 1px solid #EA2427;
	margin: 0 25px 0 25px;
/*	padding-bottom: 10px;*/
/*	box-shadow: rgba(0, 0, 0, 0.2) 0px 16px 32px 0px;*/
/*	box-shadow: rgba(0, 0, 0, 0.2) 0px 2px 4px 0px;*/
/*	box-shadow: rgba(0, 0, 0, 0.2) 0px 1px 2px 0px;*/
	/*box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);*/
}

#book-room-button h1 {
	margin: 15px 0 15px 0;
/*	text-decoration: underline;*/
}



#social-login {
	margin-bottom: 15px;
}

#login-button {
	margin-top: 30px;
	background-color: rgba(247,247,247,1);
	padding: 9px 0px;
}

#login-buttons {
	margin: 17px 0 0 15px;
}

#desktop-home {
	display: none;
}

/*#home-container {
	padding-top: 70px;
}*/

#mobile-menu-content {
	padding-top: 70px;
}

#home-container .container {
/*	margin-top: 35px;*/
/*	padding: 15px 20px 15px 20px;*/
	padding-left: 20px;
	padding-right: 20px;
}

#home-container h1,
.login-layout h1 {
	font-size: 2em;
/*	font-size: 8vw;*/
}

#mobile-content {

	margin-top: 25px;

	background: rgb(247,247,247);
	background: -moz-linear-gradient(top, rgba(247,247,247,1) 0%, rgba(247,247,247,1) 41%, rgba(255,255,255,1) 41%, rgba(255,255,255,1) 59.55%, rgba(247,247,247,1) 59.55%, rgba(247,247,247,1) 77.5%, rgba(255,255,255,1) 77.5%, rgba(255,255,255,1) 100%);
	background: -webkit-linear-gradient(top, rgba(247,247,247,1) 0%,rgba(247,247,247,1) 41%,rgba(255,255,255,1) 41%,rgba(255,255,255,1) 59.55%,rgba(247,247,247,1) 59.55%,rgba(247,247,247,1) 77.5%,rgba(255,255,255,1) 77.5%,rgba(255,255,255,1) 100%);
	background: linear-gradient(to bottom, rgba(247,247,247,1) 0%,rgba(247,247,247,1) 41%,rgba(255,255,255,1) 41%,rgba(255,255,255,1) 59.55%,rgba(247,247,247,1) 59.55%,rgba(247,247,247,1) 77.5%,rgba(255,255,255,1) 77.5%,rgba(255,255,255,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f7f7f7', endColorstr='#ffffff',GradientType=0 );

}

.arrow {
	max-height: 40px;
}

/*.jumbotron {
	background: none;
	border: none;
	text-align: center;
}

.jumbotron h1 {
	color: rgb(38, 84, 249);
}

#overlay-container {
	position: fixed;
	z-index: 0;
	display: none;
}

#overlay-grey {
	background-color: #e6e6e6;
	height: 800px;
	padding: 0;
	margin: 0 -111px 0 -111px;
}

#overlay-container .logo-fragment-container img {
	max-height: 90px;
}*/

#arrow-container {
	margin: 35px 0 0 0;
	width: 100%;
	text-align: center;
}

#arrow-container img {
	height: 55px;
}

#overlay-container .logo-fragment-container {
	position: absolute;
}

#splash-screen {
	width: 100%;
	text-align: center;
}

#splash-screen-logo {
	max-height: 47px;
	margin-top: 310px;
}

#splash-screen-logo-desktop {
	display: none;
}

.page-container {
/*	padding: 1px 20px 10px 20px;
	position: relative;
	z-index: 10;
	background-color: white;*/
	/*min-width: 100%;*/
/*	max-width: 700px;
	margin: 0 auto;
	min-height: 50px;*/
/*	box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);*/
/*	border: 20px solid #86b3ce;*/

}

/*#splash-screen-logo-desktop img {
	max-height: 47px;
	margin-bottom: 10px;
}*/

.home-features {
	text-align: center;
}

.home-features .row {
	margin-bottom: 40px;
}

.home-features p {
	color: rgb(38, 84, 249);
	font-size: 18px;
}

#promo-images img {
	max-width: 75%;
	margin: 0 auto;
/*	filter: grayscale(100%);*/
	margin-bottom: 33px;
}

#home-footer {
	position: absolute;
	width: 100%;
	background-color: #F7F7F7;
	z-index: 1;
	text-align: left;
	padding-top: 33px;
	padding-bottom: 36px;
	padding-left: 25px;
	margin-top: 50px;
	left: 0;
	bottom: 0;
	overflow: hidden;
}

#home-footer p {
	color: rgb(38, 84, 249);
	font-size: 0.9em;
	margin-top: 13px;
}

/*==========  Animations  ==========*/

.mobile-menu-enter {
  transform: translate3d(-100%, 0, 0);
}

.mobile-menu-enter-active {
  transform: translate3d(0, 0, 0);

  transition: all 300ms cubic-bezier(0.77, 0, 0.175, 1);
}

.mobile-menu-leave {
  transform: translate3d(0, 0, 0);
}

.mobile-menu-leave-active {
  transform: translate3d(-100%, 0, 0);

  transition: all 300ms cubic-bezier(0.77, 0, 0.175, 1);
}

.page-content-appear {
	opacity: 0;
  /*transform: translate3d(0, -100%, 0);*/
}

.page-content-appear-active {
  /*transform: translate3d(0, 0, 0);*/
  opacity: 1;

  transition: all 300ms cubic-bezier(0.77, 0, 0.175, 1);
}

/*==========  Home page overlay START  ==========*/

.overlay-letter {
	position: fixed;
}

.overlay-letter img {
	max-width: 50px;
}

/*==========  Home page overlay END  ==========*/

/*==========  Mobile First Method  ==========*/

/* Custom, iPhone Retina */ 
@media only screen and (min-width : 320px) {

}

/* Extra Small Devices, Phones */ 
@media only screen and (min-width : 480px) {

}

/* Small Devices, Tablets */
@media only screen and (min-width : 768px) {

	.mobile {
		display: none;
	}

	.desktop {
		display: block;
	}

	#home-container h1 {
		font-size: 4em;
	}

}

/* Medium Devices, Desktops */
@media only screen and (min-width : 992px) {

/*	#mobile-home {
		display: none;
	}*/

/*	#desktop-home {
		display: none;
	}*/

/*	#overlay-container {
		display: block;
	}*/

/*	#splash-screen-logo {
		display: none;
	}

	#splash-screen-logo-desktop {
		display: block;
	}*/

}

/* Large Devices, Wide Screens */
@media only screen and (min-width : 1200px) {

}