@font-face {
    font-family: Fugue;
    src: url(/fonts/Fugue-Regular.otf);
}

h1, h2, h3, h4, h5, p, a {
	font-family: Fugue;
}

.spacer-50 {
	height: 50px;
}

.spacer-10 {
	height: 10px;
}

/*#custom-nav {
	display: none;
	
}*/

#custom-nav {
	padding: 20px;
	z-index: 3;
}

#custom-nav,
#mobile-menu-content {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
}

#mobile-menu-content {
	z-index: 2;
}

#mobile-menu-content .container {
	margin-top: 35px;
}

/*#custom-nav .container {
	padding: 0 100px 0 100px;
}*/

/*#custom-nav p, #custom-nav a {
	color: rgb(38, 84, 249);
	font-size: 18px;
}*/

#custom-nav img,
#mobile-menu img {
	max-height: 30px;
}

#mobile-menu {
	background-color: #e6e6e6;
}

#mobile-menu h1 {
	font-size: 4em;
}

#book-room-fixed {
	background-color: black;
	color: white;
	padding: 20px;
	position: fixed;
	bottom: 0;
	left: 0;
	width: 100%;
	z-index: 2;
}

/*#custom-nav .navbar-right {
	margin-top: 23px;
}*/

#login-buttons {
	margin: 17px 0 0 15px;
}

#mobile-menu-content {
	background-color: #e6e6e6;
}

#home-container,
#mobile-menu-content {
	padding-top: 70px;
}

#home-container a,
#home-container h1,
#mobile-menu-content a,
#mobile-menu-content h1 {
	color: rgb(38, 84, 249);
}

#home-container .container {
	margin-top: 35px;
/*	padding: 15px 20px 15px 20px;*/
	padding-left: 20px;
}

#home-container h1 {
	font-size: 2.3em;
}

.grey-container {
	padding-top: 25px;

	background: #e6e6e6;
	background: -moz-linear-gradient(top, #e6e6e6 80%, #ffffff 80%); /* FF3.6-15 */
	background: -webkit-linear-gradient(top, #e6e6e6 80%, #ffffff 80%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to bottom, #e6e6e6 80%, #ffffff 80%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e6e6e6', endColorstr='#ffffff',GradientType=0 ); /* IE6-9 */

}

.arrow {
	max-height: 40px;
}

/*.jumbotron {
	background: none;
	border: none;
	text-align: center;
}

.jumbotron h1 {
	color: rgb(38, 84, 249);
}

#overlay-container {
	position: fixed;
	z-index: 0;
	display: none;
}

#overlay-grey {
	background-color: #e6e6e6;
	height: 800px;
	padding: 0;
	margin: 0 -111px 0 -111px;
}

#overlay-container .logo-fragment-container img {
	max-height: 90px;
}*/

#arrow-container {
	margin: 35px 0 0 0;
	width: 100%;
	text-align: center;
}

#arrow-container img {
	height: 55px;
}

#overlay-container .logo-fragment-container {
	position: absolute;
}

#splash-screen {
	width: 100%;
	text-align: center;
}

#splash-screen-logo {
	max-height: 47px;
	margin-top: 310px;
}

#splash-screen-logo-desktop {
	display: none;
}

.page-container {
/*	padding: 1px 20px 10px 20px;
	position: relative;
	z-index: 10;
	background-color: white;*/
	/*min-width: 100%;*/
/*	max-width: 700px;
	margin: 0 auto;
	min-height: 50px;*/
/*	box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);*/
/*	border: 20px solid #86b3ce;*/

}

/*#splash-screen-logo-desktop img {
	max-height: 47px;
	margin-bottom: 10px;
}*/

.home-features {
	text-align: center;
}

.home-features .row {
	margin-bottom: 40px;
}

.home-features p {
	color: rgb(38, 84, 249);
	font-size: 18px;
}

#promo-images img {
	max-width: 75%;
	margin: 0 auto;
/*	filter: grayscale(100%);*/
	margin-bottom: 33px;
}

#home-footer {
	background-color: #e6e6e6;
	z-index: -1;
	text-align: left;
	padding-top: 50px;
	padding-bottom: 20px;
	padding-left: 25px;
	margin-top: 80px;
}

/*==========  Mobile First Method  ==========*/

/* Custom, iPhone Retina */ 
@media only screen and (min-width : 320px) {

}

/* Extra Small Devices, Phones */ 
@media only screen and (min-width : 480px) {

}

/* Small Devices, Tablets */
@media only screen and (min-width : 768px) {

}

/* Medium Devices, Desktops */
@media only screen and (min-width : 992px) {
	#overlay-container {
		display: block;
	}

/*	#splash-screen-logo {
		display: none;
	}

	#splash-screen-logo-desktop {
		display: block;
	}*/

}

/* Large Devices, Wide Screens */
@media only screen and (min-width : 1200px) {

}