.deleteFieldBig {
	min-width: 100%;
	padding: 10px 0 10px 0;
	background-color: red;
	text-align: center;
	color: white;
	text-transform: uppercase;
}

.user-row {
	padding-top: 10px;
	padding-bottom: 10px;
}

.user-row .checkbox {
	margin: 0;
}

/*.user-row-background .user-row {
	background-color: grey;
}*/